@font-face {
  font-family: "Simplifica";
  src: url("fonts/SIMPLIFICA Typeface.ttf") format("truetype");
}

.layout {
  margin: 0 auto;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
  text-align: center;
}
			
.name {
  font-family: 'Simplifica', sans-serif;
  font-size: 72px;
  letter-spacing: .05em;
  margin-left: .025em;
  margin-right: -.025em;
}

.line {
  width: 230px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color:#6ac5a9;
  border: 0 none;
  border-radius: 50px;
}

body {
  background-color: #333333;
  color: #6ac5a9;
}

a {
  color: #6ac5a9;
  text-decoration: none;
}

a:hover {
  color: #efe9e7;
}

i {
  font-size: 24px;
  letter-spacing: .25em;
  margin-left: .125em;
  margin-right: -.125em;
}

/********************************************************************************/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4c86m0');
  src:  url('fonts/icomoon.eot?4c86m0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4c86m0') format('truetype'),
    url('fonts/icomoon.woff?4c86m0') format('woff'),
    url('fonts/icomoon.svg?4c86m0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ca:before {
  content: "\e900";
}
.icon-hr:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e901";
}
.icon-file-pdf-o:before {
  content: "\e903";
}
.icon-fcc:before {
  content: "\e904";
}
.icon-li:before {
  content: "\e906";
}
.icon-gh:before {
  content: "\e907";
}
